@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* 기본 커서 숨김 */
* {
  cursor: none !important;
}

/* 드래그 색상 */
::selection {
  background-color: #7f1d1d;
  color: #fca5a5;
}

/* 스크롤바 커스텀 */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #030712;
}

::-webkit-scrollbar-thumb {
  background: #7f1d1d;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #991b1b;
}
